Do some machine learning on data found here http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/using aimed at predicting whether or not a person will make over 50k a year. Do it in an IPython Notebook. Look in adult.data for the data, save it as a csv file. The adult.names file has information about the set. 

You may use Pandas if you want, google for a tutorial (there are many, and it's easy to learn). Or you can just use Numpy, or a combination of both.

2 pts Create a notebook.

2 pts Replace all empty numeric fields with the average of its column in this new column.

2 pts Convert non-numeric columns to columns with an integer representations (like we did with the decision trees. 

2 pts Convert the data to a numpy array if it isn't one already.

2 pts Divide the data into a training and test set.

2 pts Run both a random forest and gaussian naive bayes on the training set.

2 pts Compute the accuracy of predictions on the test set.

Document all of these steps with a markup field (-1 pt for each one missing)

Submit your notebook here.

In [2]:
import pandas as pd
import numpy as np

adults = pd.read_csv('adult.data', header=0)
adults.columns = [
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education-num',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'sex',
    'capital-gain',
    'capital-loss',
    'hours-per-week',
    'native-country',
    '50k?'
]
adults

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,50k?
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

2 pts Replace all empty numeric fields with the average of its column in this new column.

In [4]:
adults = pd.get_dummies(adults)
adults

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,50k?_ <=50K,50k?_ >50K
0,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,37,284582,14,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,49,160187,5,0,0,16,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,52,209642,9,0,0,45,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7,31,45781,14,14084,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8,42,159449,13,5178,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
9,37,280464,10,0,0,80,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
10,30,141297,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11,23,122272,13,0,0,30,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
12,32,205019,12,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
13,40,121772,11,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14,34,245487,4,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,25,176756,9,0,0,35,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
16,32,186824,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
17,38,28887,7,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
18,43,292175,14,0,0,45,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
19,40,193524,16,0,0,60,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
20,54,302146,9,0,0,20,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
21,35,76845,5,0,0,40,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
22,43,117037,7,0,2042,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
23,59,109015,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
24,56,216851,13,0,0,40,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
25,19,168294,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
26,54,180211,10,0,0,60,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
27,39,367260,9,0,0,80,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
28,49,193366,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
29,23,190709,12,0,0,52,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,33811,13,0,0,99,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32531,34,204461,16,0,0,60,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32532,54,337992,13,0,0,50,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32533,37,179137,10,0,0,39,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32534,22,325033,8,0,0,35,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32535,34,160216,13,0,0,55,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32536,30,345898,9,0,0,46,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32537,38,139180,13,15020,0,45,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32538,71,287372,16,0,0,10,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32539,45,252208,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32540,41,202822,9,0,0,32,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32541,72,129912,9,0,0,25,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32542,45,119199,12,0,0,48,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
32543,31,199655,14,0,0,30,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32544,39,111499,12,0,0,20,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
32545,37,198216,12,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32546,43,260761,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32547,65,99359,15,1086,0,60,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32548,43,255835,10,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32549,43,27242,10,0,0,50,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32550,32,34066,6,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32551,43,84661,11,0,0,45,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32552,32,116138,14,0,0,11,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
32553,53,321865,14,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32554,22,310152,10,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32555,27,257302,12,0,0,38,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32556,40,154374,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32557,58,151910,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32558,22,201490,9,0,0,20,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32559,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1